html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .main_wrapper{
    width: 800px;
    height: 500px;
    .form_wrapper{
      display: flex;
      align-items: center;
      >div{
        &:nth-child(1){
          flex:1;
          margin-right: 20px;
        }
      }
    }
  }
}